@import '~include-media/dist/_include-media.scss';
@import '~reseter.css/css/reseter.min.css';

$breakpoints: (phone: 768px, tablet: 992px, desktop: 1200px);

a {
  color: black;
  text-decoration: underline dotted;

  &:hover {
    text-decoration: none;
  }
}

.subtitle {
  font-weight: 400;
}

html {
  font-family: system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}