@import '../../styles/core.scss';

#home-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 1.2rem;

  #logo {}

  >h1 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  >h2.subtitle {
    margin-top: 0;
    font-size: 1.5rem;
  }

  section.download {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

    >h2 {
      font-weight: 600;
    }

    .download-buttons {
      margin-left: 2rem;

      >a+a {
        margin-left: 1rem;
      }
    }
  }

  section.features {
    text-align: left;

    >div {
      text-align: center;

      >img {
        text-align: center;
        margin: 2rem auto;
        border: 1px dotted black;
      }
    }
  }

  section.screenshots {
    margin-top: 2rem;

  }

  section.more-links {
    margin-top: 2rem;
  }

  footer {
    margin-top: 3rem;
    color: gray;
    font-size: 1rem;

    a {
      color: darken(grey, 40%);
    }
  }
}