#help-page {

  >h1 {
    text-align: center;
  }

  >h2 {
    margin-top: 2.5rem;
  }

  .question {
    >h2 {
      font-size: 1.5rem;
      line-height: normal;
    }

    &.highlighted {
      >h2 {
        color: darkblue;

        &::before {
          content: "👉 ";
        }
      }
    }
  }

  .question+.question {
    margin-top: 2rem;
  }
}